/* Globals 
--------------------------------------*/
html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: rgba(229, 172, 16, 0.8);
}
body {
    margin-top: 5rem;
    margin-left: 45rem;
}

/* Nav Bar
--------------------------------------*/
nav {
    /* Typography */
    font-size: 3rem;
    font-weight: bold;

    /* Design */
    background-color: rgb(123, 200, 255);
    border: 5px solid black;
    border-radius: 0.5rem;
    box-shadow: -0.75rem 0.75rem black;

    /* Layout */
    padding: 3rem 3rem;
    margin: 3.2rem 2rem 4rem 4rem;
    width: 30rem;
    height: 85vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.logo {
    color: black;
    font-family: 'Forum', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    line-height: 0.9;
    margin: 0.5rem 0 4rem;
}
.logo > h1 {
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(72, 48, 150);
}
footer {
    /* Typography */
    color: black;
    font-size: 1.76rem;
    font-weight: bold;

    /* Layout */
    position: fixed;
    bottom: 2rem;
    right: 6rem;
}

/* Search Bar
--------------------------------------*/
.searchbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
}
button {
    /* Typography */
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: black;

    /* Design */
    background-color: rgb(123, 200, 255);
    border: 3px solid black;
    border-radius: 0.5rem;
    box-shadow: -0.2rem 0.2rem black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    /* Layout */
    margin-right: 2rem;
    padding: 0.5rem 1rem;
}
button:hover {
    background-color: rgba(123, 200, 255, 0.588);
}
input {
    /* Typography */
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: #333;

    /* Design */
    background-color: #fff;
    border: 3px solid black;
    border-radius: 0.5rem;
    box-shadow: -0.2rem 0.2rem black;
    transition: all 0.2s ease-in-out;

    /* Layout */
    height: 2.25rem;
    width: 30rem;
    padding: 0.5rem 1rem;
}

/* Stock Info Card
--------------------------------------*/
#stockheader {
    /* Typography */
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;

    /* Design */
    background-color: rgb(123, 200, 255);
    border: 3px solid black;
    border-radius: 0.5rem;
    box-shadow: -0.75rem 0.75rem black;
    transition: all 0.2s ease-in-out;

    /* Layout */
    width: 550px;
    margin: 5rem 0;
    padding: 0rem 3rem 1rem;
}
#stockheader > .opening-header {
    /* Typography */
    font-size: 3rem;
    margin: 2rem 0;
}
#stockheader > .opening-instruction {
    /* Typography */
    font-size: 2rem;
}
.card-title {
    /* Typography */
    font-size: 2.8rem;
    font-weight: 900;
    color: black;

    /* Layout */
    margin: 1rem 0 2rem;
}
.card-text {
    /* Typography */
    font-size: 1.8rem;
    font-weight: 700;
    color: black;

    /* Layout */
    margin: 0.5rem 0 0;
}
.card-data {
    /* Layout */
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}
.card-title-flex {
    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-grid {
    /* Layout */
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1.2fr 0.8fr;
}

/* Stock Graph Card
--------------------------------------*/
#graphDiv {
    /* Design */
    border: 3px solid black;
    border-radius: 0.5rem;
    box-shadow: -0.75rem 0.75rem black;
    transition: all 0.2s ease-in-out;

    /* Layout */
    width: 1400px;
    margin-top: 6rem;
    padding: 0;
    overflow: hidden;
}
